/* Modal Header */
.modal-header {
    background-color: #e20909;
    color: white;
    padding: 2px 16px;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    background-color: #333333;
    color: white;
    padding: 2px 16px;
}

/* Modal Content */
.modal-content {
    animation-duration: 0.4s
    animation-name: animatetop;
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin: auto;
    padding: 0;
    position: relative;
    width: 50%;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.question_header {
      text-align: center;
}

p {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
}
